body{
    background: rgb(250,250,250);
}
.harshitha-centerheader{
  text-align: center;
  background: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80);
}
.myheaderpic{
  height:200px;
  width:200px;
  border-radius: 50%
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
